body{
    font-family: Inter, sans-serif;
}
.links-items{
    list-styles: none;
    margin: 0;
}
.links-items a{
    text-decoration: none;
}
.links{
    padding: 0;
}
header{
    background-image: url("../img/lemon-pie.png");
    background-position: center, center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-end;
}